.return-home {
    position: absolute;
    left: 89%;
    top: 5%;
}

.horizontal-center {
    margin: auto;
}

.parent {
    position: relative;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.item {
    align-self: center;
}

.child {
    position: absolute;
    top: 60px;
}

.item {
    align-self: flex-start;
}

.center {
    justify-content: center;
    padding-top: 20%;
}

.margin-right {
    margin-right: 50px;
}

.btn-green {
    text-decoration: none;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    background-color: green;
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

/* Adding transformation when the button is active */

.btn-green:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
    border: none;
}

.btn-green:hover {
    background-color: limegreen;
    text-decoration: none;
}

.btn-orange {
    text-decoration: none;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    background-color: chocolate;
    color: white;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

/* Adding transformation when the button is active */

.btn-orange:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
    border: none;
}

.btn-orange:hover {
    background-color: darkorange;
    text-decoration: none;
}

.btn-blue {
    text-decoration: none;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

/* Adding transformation when the button is active */

.btn-blue:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
    border: none;
}

.btn-blue:hover {
    background-color: lightskyblue;
    text-decoration: none;
}

.main-text {
    font-size: 18px;
}

.flex-parent {
    display: flex;
}

.test {
    margin-bottom: 120px;
}

a {
    color: white !important;
    text-decoration: none
}

.one-button-vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
