<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Edit database</title>
</head>
<body>
<div th:insert="fragments/menu.html :: menu"></div>
<h2 align="center">Добавление кабеля из файла</h2>
<form action="/database/cable/file-path">
    <input class="form-control mt-2" type="text" name="pathFile"
           placeholder="Укажите путь к txt файлу с кабелями для добавления в базу">
    </div>
    <div class="d-flex justify-content-center mt-5">
        <button type="submit" class="btn btn-success">Добавить кабель из файла в базу</button>
    </div>
</form>

</body>
</html>
