<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Edit database</title>
</head>
<body>
<h2 align="center">Работа с базой данных кабельного ввода MG</h2>
<div class="return-home">
    <a href="/" class="btn-blue">На главную</a>
</div>
<h4 align="center">Добавить гофрированную трубу</h4>
<div class="test">
    <div class="container">
        <a href="/database/corrugatedPipe/add-form" class="btn-orange margin-right">Добавить гофрированную трубу через форму</a>
    </div>
</div>
<h4 align="center">Показать гофру из БД (с возможностью удаления)</h4>
<div class="one-button-vertical-center">
    <a href="/database/corrugatedPipe/show-all-from-base" class="btn-green">Отобразить гофру из БД</a>
</div>
</body>
</html>
