<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Edit database</title>
</head>
<body>
<h2 align="center">Работа с базой данных</h2><br><br>
<h4 align="center">Добавить кабель</h4>
<div class="test">
    <div class="container">
        <a href="/database/showCableAddForm" class="btn-orange margin-right">Добавить кабель через форму</a>
        <a href="" class="btn-orange">Добавить кабель из файла</a>
    </div>
</div>
<h4 align="center">Отобразить из БД и удалить кабели</h4>
<div class="one-button-vertical-center">
    <a href="/database/show-all-cables-from-base" class="btn-green">Отобразить кабели из БД</a>
</div>
<div class="return-home">
    <a href="/" class="btn-blue">На главную</a>
</div>
</body>
</html>
