<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Edit database</title>
</head>
<body>
<div th:insert="fragments/menu.html :: menu"></div>
<h2 align="center">Работа с базой данных кабельного ввода MG</h2>
<h4 align="center">Добавить кабельный ввод MG</h4>
<div class="d-flex justify-content-center">
        <a href="/database/cableGlandMg/add-form" class="btn btn-success">Добавить кабельный ввод через форму</a>
    </div>
</div>
<h4 align="center">Показать кабельные вводы из БД (с возможностью удаления)</h4>
<div class="d-flex justify-content-center">
    <a href="/database/cableGlandMg/show-all-from-base" class="btn btn-warning">Отобразить кабельные вводы из БД</a>
</div>
</body>
</html>
