<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Edit database</title>
</head>
<h2 align="center">Редактирование базы данных</h2>
<div class="flex-parent center">
    <form action="/database">
        <button class="btn-orange margin-right"><span>Добавить кабель через форму</span></button>
    </form>
    <button class="btn-orange"><span>Добавить кабель из файла</span></button>
</div>
<div class="return-home">
    <form action="/">
        <button class="btn-blue">На главную</button>
    </form>
</div>
</body>
</html>
