<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Edit database</title>
</head>
<body>
<div th:insert="fragments/menu.html :: menu"></div>
<h2 align="center">Работа с базой гофры</h2>
<h4 align="center">Добавить гофрированную трубу</h4>
<div class="d-flex justify-content-center">
        <a href="/database/corrugatedPipe/add-form" class="btn btn-success">Добавить гофрированную трубу через форму</a>
</div>
<h4 align="center">Показать гофру из БД (с возможностью удаления)</h4>
<div class="d-flex justify-content-center">
    <a href="/database/corrugatedPipe/show-all-from-base" class="btn btn-warning">Отобразить гофру из БД</a>
</div>
</body>
</html>
