<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Help page</title>
</head>
<h2 align="center">Справка</h2>


<form action="/">
    <div class="parent">
        <div class="return-home">
            <button class="btn-blue">На главную</button>
        </div>
        <div class="child">
            <h4 align="left">Назначение приложения:</h4>
            <div class="main-text" align="left">Приложение предназначено для формирования списка аксессуаров для
                кабельной
                продукции. Входными данными является txt файл со списком кабельной продукции (обозначение кабеля в
                проекте,
                наименование кабеля, длина (м)).
            </div><br>
            <h4>Возможности приложения:</h4>
            <div class="main-text">
                <ul>
                    <li>Добавление в базу данных: отдельного кабеля (Главная страница->Редактирование БД->Добавить отдельный кабель), несколько кабелей (Главная страница->"Редактирование БД"->"Добавить кабели из файла")</li>
                    <li>Удаление выбранного кабеля из базы данных: Главная страница->Редактирование БД->Удалить (напротив соответствующего кабеля)</li>
                    <li>Добавление списка кабелей для подбора аксессуаров (Главная страница->Начать работу->Добавить файл со списом кабеля)</li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</form>
</div>
</body>
</html>
