<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Greeting page</title>
</head>
<h2 align="center">Стартовая страница</h2>
<div class="flex-parent center">
    <button class="btn-orange margin-right"><span>Редактирование БД</span></button>
    <button class="btn-green"><span>Начать работу</span></button>
</div>
<div class="return-home">
    <form action="/help">
        <button class="btn-blue">Спрaвка</button>
    </form>
</div>
</body>
</html>
