<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Greeting page</title>
</head>
<body>
<h2 align="center">Стартовая страница</h2>
<div class="flex-parent center">
    <a href="/database" class="btn-orange margin-right">Редактирование БД</a>
    <a href="/" class="btn-green"><span>Начать работу</span></a>
</div>
<div class="return-home">
    <a href="/help" class="btn-blue">Справка</a>
</div>
</body>
</html>
