<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>Add cable form</title>
</head>
<body>
<h2 align="center">Добавление кабеля из формы</h2>
<form action="/showCableAddForm/addCableViaForm">
    <div class="flex-parent center">
        <button type="submit" class="btn-orange margin-right">Добавить кабель в базу</button>
    </div>
</form>
<div class="return-home">
    <a href="/help" class="btn-blue">Справка</a>
</div>
</body>
</html>
